# Default ignored files
/workspace.xml
.idea/
.vscode/
lib/
.mvn/
.settings/
target/
.project
.classpath
*.iml
mvnw
mvnw.cmd
HELP.md
config-server/src/main/resources/bootstrap.yml
*.secret.*
